<h2> <%= link_to "Crear nuevo To Do", todos_new_path %> 
          <%= link_to "Lista de To Do's", todos_list_path %> </h2>

<div>
        <% @todos.each do |todo| %>
            <div class="well"> <h3> <%= link_to todo.description, todo %> </h3> 
            <p> <%= link_to "Editar", edit_todos_path(todo) %> 
                    <%= link_to "Borrar", todo, method: :delete %> </p>
            </div>
        <% end %>
</div>

 
